@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
/* .spans{
    writing-mode: vertical-lr;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 10%;
    justify-content: start;
}


.imageContainer3{
    width: 100%;
    background-color: #eeeeea;
    display: flex;
    justify-content: space-around;   
}
.imageContainer3 img{
    width: 30%;
}
.imageContainer4{
    width: 100%;
    background-color: #eeeeea;
    display: flex;
    justify-content: space-around;
    
   
}
.imageContainer4 img{
    width: 30%;
}
.span1{
    font-weight: bolder;
}
.wrap{
    display: flex;
    flex-direction: row;
    height: 20%;
    justify-content: center;
}
.wrap2{
    height: 40%;
    display: flex   ;
    justify-content: center;
    
}

.colorbar{
    background-color: #052A49;
    color: #052A49;
    width: 10px;
}
.wrapImages{
    width: 80%;
    height: max-content;
} */